@import './variables.css';
@import './globals.css';

@import './elements/header.css';
@import './elements/main.css';
@import './elements/footer.css';



main section.I {

    background-color: lightcoral;

}

main section.Geophysics {

    background-color: lightgreen;

}

main section.ds {

    background-color: lightblue;

}

main section.study {

    background-color: lightsalmon;

}

footer {

    background-color: aquamarine;
    
}